[2017-12-14 15:14] ermlikeyeah opened #2 "Buttons"
Jobseekers Benefit Enhancement Service agent service

<img width="493" alt="screen shot 2017-12-14 at 10 42 44" src="https://user-images.githubusercontent.com/13417175/33999051-4b53c6da-e0e1-11e7-8d10-89e491a7a9f7.png">
<img width="540" alt="screen shot 2017-12-14 at 10 37 31" src="https://user-images.githubusercontent.com/13417175/33999052-4b6c298c-e0e1-11e7-88b6-dc0f8da26a2c.png">

## What probl

[2017-12-14 15:34] abbott567 opened #3 "Timeline"
<img width="415" alt="screenshot-1" src="https://user-images.githubusercontent.com/9450064/33999048-4749044c-e0e1-11e7-97df-9b7d5bd108db.png">

**_What problem does this design solve?_**
Gives people an history of actions. For example, claim history.

**_Which service are you researching this design on?_**
Bereavement Support Payment
Access to work

**_How have you approached the design?_**
I copi

[2017-12-14 16:50] abbott567 opened #4 "Navigation Menu"
**_Screenshot_**

![pasted_image_at_2017_12_12_05_28_pm_720](https://user-images.githubusercontent.com/9450064/34003517-63c7ed7a-e0ed-11e7-9479-339db738d7de.png)

**_What problem does this design solve?_**
Agent facing systems usually require a navigation bar to link to different features.

**_Which service are you researching this design on?_**
- Bereavement Support Payment

**_How have you appro

[2017-12-14 17:02] gavinelliott commented on #4
A slight variation on Craig's navigation.
![gov_uk_prototype_kit_](https://user-images.githubusercontent.com/758849/34004737-9b0c6196-e0f0-11e7-9579-33fb0a241628.jpg)

[2017-12-15 10:02] htmlandbacon commented on #4
![Support for check your state pension header](https://user-images.githubusercontent.com/4334015/34036989-f29a6d7a-e17e-11e7-8566-d20bc0f63d47.png)

**Which service are you researching this design on?**

Support for Check your State Pension

[2017-12-15 11:35] abbott567 commented on #4
Hey @htmlandbacon, that is the original grey bar with the teal background we started with. The text has to be 24px normal weight, or 19px bold to pass WCAG AA contrast ratios, so we changed the background to govuk-blue.

[2017-12-15 12:05] htmlandbacon commented on #4
![Jobseekers Benefit Enhancement Service](https://user-images.githubusercontent.com/4334015/34041476-11c350c0-e190-11e7-9d77-c7f93041ed05.png)

Which service are you researching this design on?

Jobseekers Benefit Enhancement Service

This service has difference user roles, so case workers don't get the maintenance link.

[2017-12-18 15:57] gunjam opened #5 "Search"
**_Screenshot_**
## Find pension contact details
### Search landing
![screen shot 2017-12-18 at 15 47 39](https://user-images.githubusercontent.com/142065/34114564-0620cb12-e40b-11e7-8a1d-5a69d05b5599.png)
### Search results
![screen shot 2017-12-18 at 15 41 04](https://user-images.githubusercontent.com/142065/34114591-177646b2-e40b-11e7-8364-c46a0bda281e.png)
## Bereavement Support Payment Manage

[2017-12-18 16:29] gunjam commented on #5
## PTS Agent Service
![patsi-results](https://user-images.githubusercontent.com/142065/34116388-6b04e8e2-e410-11e7-9a88-16cd67cca43d.png)

*Notes*
Matching phase highlighted in bold, different content types labeled (employer/scheme), includes some meta data.

[2017-12-20 12:03] ermlikeyeah commented on #4
![artboard](https://user-images.githubusercontent.com/13417175/34206260-c3de95bc-e57d-11e7-8e1d-2930e2945353.png)

[2017-12-20 12:59] abbott567 commented on #4
@ermlikeyeah Mixing blue and teal? 🤢

The second Nav looks incredibly similar to the one we're using if that bar were blue.

[2017-12-20 14:45] abbott567 opened #6 "Status badge"
**_Screenshot_**

<img width="299" alt="status" src="https://user-images.githubusercontent.com/9450064/34210361-77d8be9e-e58d-11e7-93ac-1b7e998398d1.png">

**_What problem does this design solve?_**
A quick way to show agents the status of the claim they are working on.

**_Which service are you researching this design on?_**
- Bereavement Support Payment - The badges are in the production build o

[2017-12-21 13:08] bossbpv commented on #4
![screen shot 2017-12-21 at 13 06 59](https://user-images.githubusercontent.com/34514375/34257033-0699cce6-e650-11e7-9f23-012593d05785.png)

[2017-12-21 13:42] mari-sto commented on #4
![screen shot 2017-12-21 at 13 06 59](https://user-images.githubusercontent.com/22297367/34258194-cb0f5416-e654-11e7-9891-2eb8bc776b28.png)

[2018-01-02 17:45] abbott567 commented on #5
Cheers @gunjam , these screenshots highlight a potential accessibility issue in my Bereavement design. The first heading to say it's search results is under the search box. From a screen reader perspective it may seem like the same page has just refreshed.

[2018-01-08 19:29] ermlikeyeah commented on #4
@abbott567 I wouldn't take them colours from that grab as gospel. More the two lines of nav: the secondary level is something I inherited to navigate around the "case". Which lends itself to the user story approach I was talking about earlier.

[2018-01-10 16:03] steven-borthwick commented on #5
# **Searchlight/CIS - default screen**

![searchlight_nino_person_trace](https://user-images.githubusercontent.com/12656517/34782018-55144d4a-f61f-11e7-8768-36a8a718214c.png)

[2018-01-10 17:02] steven-borthwick opened #7 "Citizen/indentity details (need a better name)"
## **Searchlight/CIS**

**_Screenshot_**

Expanded
<img width="1167" alt="screen shot 2018-01-10 at 16 56 09" src="https://user-images.githubusercontent.com/12656517/34784823-4b9659f4-f627-11e7-883f-eb5b5bcacc97.png">

Collapsed
<img width="745" alt="screen shot 2018-01-10 at 17 00 06" src="https://user-images.githubusercontent.com/12656517/34785076-fef1496e-f627-11e7-9011-a734d1f2e137.png">

**_W

[2018-01-25 14:20] ermlikeyeah commented on #5
# **Access to Work find an application**

![image uploaded from ios 11](https://user-images.githubusercontent.com/13417175/35392759-d316c4ae-01da-11e8-9349-643c2da4c95b.jpg)
![image uploaded from ios 12](https://user-images.githubusercontent.com/13417175/35392763-d4e01bb4-01da-11e8-8dcf-093a6f212722.jpg)

**What problem does this design solve?**
Allows any DWP agent with a log in to the system to

[2018-01-25 14:21] ermlikeyeah commented on #5
# **Find a claimant**

**What problem does this design solve?**
-
**Which service are you researching this design on?**
Universal Credit

**How have you approached the design?**
-
**What have you learned from research?**
-

**Have you tested this for accessibility?**
-

**Notes**
-

[2018-01-26 15:00] srich-DWP commented on #7
<img width="1437" alt="screen shot 2018-01-26 at 14 56 17" src="https://user-images.githubusercontent.com/13314733/35445331-38f9c6bc-02a9-11e8-9c4f-d2d19d4fc2a3.png">
What problem does this design solve?
DWP agents can use the "Identity banner" to verify the customer

Which service are you researching this design on?
Access to Work - Access to Work Integrated Service (ATWIS)

[2018-01-26 15:20] srich-DWP commented on #4
<img width="1438" alt="screen shot 2018-01-26 at 15 15 17" src="https://user-images.githubusercontent.com/13314733/35446158-c3b20e3e-02ab-11e8-97ae-e0cae2ddfa03.png">

**_What problem does this design solve?_**
Agent facing system which requires navigation to different page views and process screens

**_Which service are you researching this design on?_**
Access to Work - Access to Work Integrated

[2018-01-26 15:51] srich-DWP commented on #4
<img width="1436" alt="screen shot 2018-01-26 at 15 45 59" src="https://user-images.githubusercontent.com/13314733/35447677-3754352a-02b0-11e8-9b45-c2e634f202c8.png">

**_What problem does this design solve?-**
Agent facing system which requires navigation to different page views and process screens, secondary navigation

**_Which service are you researching this design on?_**
Access to Work - Acc

[2018-01-31 16:02] srich-DWP opened #8 "Service Not available"
**_Screenshot_**

**_What problem does this design solve?_**
Messaging for users when a service is down for maintenance etc...

**_Which service are you researching this design on?_**
This could be used for all Gov services

**_How have you approached the design?_**
- have you tried anything that exists already?

**_What have you learned from research?_**
- include any iterations that didn't work.

[2018-01-31 16:07] srich-DWP commented on #8
Apply for a Budgeting Loan had some service messaging screens developed which were hosted by Akami (I think)
I'll try and get the screens and any information on testing from the project archive and post on here

[2018-02-02 11:49] chdesign opened #9 "Tags / labels"
**_Screenshot_**
Tags appearing on a to-do:
![Tags used on a to-do](https://user-images.githubusercontent.com/22620603/35731434-6dbdc20e-080d-11e8-97b3-e7e116d9076b.png)

Tags appearing on a page:
![Tags used in a page, beneath the header](https://user-images.githubusercontent.com/22620603/35731435-6dd55766-080d-11e8-83df-05c6df402eb8.png)

Option available to filter by tag:
![Tags used to filer](

[2018-02-02 13:18] htmlandbacon commented on #9
**_Screenshot_**

<img width="299" alt="status" src="https://user-images.githubusercontent.com/9450064/34210361-77d8be9e-e58d-11e7-93ac-1b7e998398d1.png">

**_What problem does this design solve?_**
A quick way to show agents the status of the claim they are working on.

**_Which service are you researching this design on?_**
- Bereavement Support Payment - The badges are in the production build o

[2018-02-02 13:19] htmlandbacon commented on #6
Closing in favour of #9

[2018-02-02 13:19] #6 closed

[2018-02-07 08:40] chdesign opened #10 "Confirm action"
**_Screenshot_**
![Screenshot of service showing a red bordered box with a confirm message asking 'Are you sure you want to delete this todo?' and a confirm button](https://user-images.githubusercontent.com/22620603/35906153-6db5cffe-0be1-11e8-8da1-447c99363f2f.png)

**_What problem does this design solve?_**
Adds an extra step to destructive actions, in this case deleting an item.

**_Which servi

[2018-02-07 17:36] htmlandbacon commented on #5
This is an example from an internal case management system.

This is used for various search based on the users role, but has similar interactions.

**Example: search by case ID**
<img width="1199" alt="search by case ID" src="https://user-images.githubusercontent.com/4334015/35931565-ddddff36-0c2c-11e8-9df8-7074255d42cb.png">

**Example: search by personal details**
<img width="1195" alt="search

[2018-02-12 12:02] abbott567 commented on #10
<img width="1065" alt="screen shot 2018-02-12 at 11 32 02" src="https://user-images.githubusercontent.com/9450064/36095027-60573e00-0fe8-11e8-888d-73acd73c85ef.png">

This is the confirm action screen in the agent system for Bereavement Support Payment.

**_What problem does this design solve?_**
Adds an extra step to unrecoverable actions, in this case disallowing a claim.

**_Which service are y

[2018-02-12 13:03] abbott567 opened #11 "Declaration"
<img width="617" alt="screen shot 2018-02-12 at 12 55 27" src="https://user-images.githubusercontent.com/9450064/36097720-08995e62-0ff4-11e8-835b-94be279b046f.png">

**_What problem does this design solve?_**
Adds a breakpoint before submitting that gives the user time to reflect on the information they have entered. Serves any content that the user has to agree to for legal reasons.

**_Which ser

[2018-02-14 14:00] chdesign commented on #10
We got a ticket in to change to a similar process to the one Craig has listed above.

Based on an issue with the delete button in our confirmation being triggered if the user ignored the alert (ie didn't delete or cancel) and then clicked another button, and our users complaining that the alert looked too much like an error and was confusing.

So the user now clicks delete and is presented with an

[2018-02-14 15:26] Ash-Wilson commented on #10
This is the example I have used before which I found on dropbox paper (previously hackpad). Myself and @abbott567 discussed this however, because we feel it needs work around what is essentially a button, being displayed as a link. This interaction is used across a few of our services and patterns. It may spark an interesting discussion for one of our meet ups as to whether this is the right thing

[2018-03-02 15:47] petegriffithdwp commented on #9
![cfems - team leader](https://user-images.githubusercontent.com/35726405/36907361-5aafde7a-1e30-11e8-8b26-95c98bb517ab.png)

_**What problem does this design solve?**_
Tags are used to flag up to agents and their managers when an activity on a case is either nearing its due date or has overrun it.

_**Which service are you researching this design on?**_
Criminal Fraud and Error Management Service

[2018-03-02 16:19] srich-DWP commented on #4
<img width="807" alt="screen shot 2018-03-02 at 16 16 16" src="https://user-images.githubusercontent.com/13314733/36909165-2ef6ba92-1e35-11e8-8ea6-4d0b6173f5f1.png">

This is a secondary navigation style we will be testing for Access to Work, Payment Officer views next week.
It's based on the existing Admin Menu pattern available in the DWP Patterns library https://dwp-patterns.herokuapp.com/admin

[2018-03-22 19:05] abbott567 opened #13 "Tabs"
**_Screenshot_**
![mar-21-2018 23-35-33](https://user-images.githubusercontent.com/9450064/37790701-3008dc7e-2dff-11e8-938a-f15b1c47ad09.gif)

**_What problem does this design solve?_**
There was too much information on one page. Agents needed a way to access the information but didn't necessarily need it all at the same time.

**_Which service are you researching this design on?_**
Bereavement Pa

[2018-03-23 15:14] steven-borthwick commented on #13
_**Screenshot**_
<img width="1011" alt="screen shot 2018-03-23 at 14 39 42" src="https://user-images.githubusercontent.com/12656517/37835685-a31208fe-2ea8-11e8-9a98-4450b4725268.png">

**_Mobile view_**
<img width="376" alt="screen shot 2018-03-23 at 14 39 55" src="https://user-images.githubusercontent.com/12656517/37835753-c604bdf2-2ea8-11e8-8c6b-2e775be28749.png">

**_What problem does this desi

[2018-04-10 10:24] yanashmatova opened #14 "Upload pattern"
<img width="1031" alt="upload_pattern_no_table" src="https://user-images.githubusercontent.com/38244607/38551367-e4f0e9d2-3cb0-11e8-8723-0a6cf06358b4.png">

![upload_pattern](https://user-images.githubusercontent.com/38244607/38547480-11a8eeca-3ca7-11e8-8456-16d30b0faa64.png)

**_What problem does this design solve?_**
Allows claimants to upload screenshots, photos and scans of documents to the se

[2018-05-14 13:52] chdesign opened #15 "Confirmation on admin systems"
There are examples of confirming actions are complete which differ to the standard [confirmation pages](https://www.gov.uk/service-manual/design/confirmation-pages), these seem to be in admin systems (both internal and external) and put the confirmation in a banner at the top of another page.

Example:
![image](https://user-images.githubusercontent.com/22620603/40001554-5cd4787a-5786-11e8-82d3-ce3

[2018-05-31 14:36] chdesign commented on #4
As we've agreed to use the [claimant/citizen/identify details header](https://github.com/dwp/design-examples/issues/7)* I've been using the grey background top nav option* as I believe the white one and it's highlight will be lost.

I'm proposing using the white grey border-bottom blue border-bottom highlight option* as a secondary nav now that we've said not to use [tabs](https://github.com/dwp/d

[2018-05-31 15:28] abbott567 commented on #4
I'm happy with this.

[2018-06-01 08:47] chdesign commented on #4
Like this?
![image](https://user-images.githubusercontent.com/22620603/40831184-3a264d82-6580-11e8-832d-2479bbc65624.png)

It kind of does.

It doesn't if you change it to teal :)
![image](https://user-images.githubusercontent.com/22620603/40831370-b986d128-6580-11e8-9cb3-7adc641941eb.png)

[2018-06-01 09:47] abbott567 commented on #4
I definitely prefer that. Because the links can then still be $link-colour. I have reservations about the blue claimant details header because all of the links are white and all of the text is white etc. It would be worth putting these two examples into the claimant header too and see if we can get some people to put them in for some rounds of research. Great work.

[2018-06-01 09:55] chdesign commented on #7
Suggestion that we change the details header to light grey as it was causing issue with the two current header nav styles

![image](https://user-images.githubusercontent.com/22620603/40834882-ee588b04-6589-11e8-9b00-b3623838f803.png)
![image](https://user-images.githubusercontent.com/22620603/40834887-f2f1c9a0-6589-11e8-83e0-9b545d7d98c9.png)

This has the potential benefit of keeping the link sty

[2018-06-01 10:02] abbott567 commented on #7
I think this is a really good idea. It would be great if we could get some people researching this. The blue header as it stands will fail WCAG-AA standards, which is a bit of a blocker. So we either need to look at the design of the header itself or look at the link colour.

WCAG states:

[2018-06-06 09:57] srich-DWP commented on #7
I'm happy to do some testing with the revised colour for the banner. Our users have come to understand what they use the banner for and have looked for the information held in it. I don't think that changing the colour of it will have a significant effect on its value to them, but testing a new colour will confirm that assumption.
One thing Ive not tried to use in the design of the banner are link

[2018-06-07 10:47] abbott567 commented on #7
Just a heads up. I've spoken to @joelanman about the colour contrast on the links. The documentation isn't  that clear and I think I was wrong about it in my previous comment. As long as it's underlined it should be sufficient for AA.

[2018-06-12 11:09] abbott567 commented on #13
These have been added to the examples app > https://dwp-design-examples.herokuapp.com/example/tabs

[2018-06-12 11:10] abbott567 commented on #11
This has been added to the examples app: https://dwp-design-examples.herokuapp.com/example/declaration

[2018-06-12 11:11] abbott567 commented on #3
This has been added to the examples app: https://dwp-design-examples.herokuapp.com/example/timeline

[2018-06-12 12:17] abbott567 commented on #9
Hi @chdesign - Looking at these two examples they're pretty similar. Was there a reason you rounded the corners on your labels?

[2018-06-12 12:28] chdesign commented on #9
I didn't design them I inherited them on Prepare for UC (PUC). Looking at the other examples, the ones on PUC were used to tag content and could be clicked on to filter, whereas the others look like a status indicator which the GDS design system already has. Maybe these were meant to be visually distinct as they behave slightly differently.

![image](https://user-images.githubusercontent.com/22620

[2018-06-12 12:36] abbott567 commented on #9
Yeah the ones in my service were modelled off the govuk alpha banner. We do change the colours, which isn't available in the GOVUK tag component. We should probably just create modifier classes for the existing component for tags. Might be worth moving labels into it's own issue or grouping it with filtering.

[2018-06-15 13:35] chdesign commented on #3
![image](https://user-images.githubusercontent.com/22620603/41470245-f6b680f2-70a7-11e8-8b23-d6653c9df43b.png)
Example has been sanitised.

A variation from Prepare for UC. The to-do history includes comments and any action taken.

If something happens soon after another log they're merged together eg a user marks as done but then goes back to add a comment.

Automated system tasks are in grey.

[2018-06-18 14:31] chdesign opened #17 "Filtering"
## What problem does this design solve?
Filters allow the user to narrow down their view of the content. In the example below from Prepare for UC tags are used to highlight these section to the user with a list at the top to allow filtering.

## Screenshots
Tags appearing on a to-do
![Tags used on a to-do](https://user-images.githubusercontent.com/22620603/35731434-6dbdc20e-080d-11e8-97b3-e7e116d9

[2018-06-18 14:33] chdesign commented on #9
Done. I've moved off to filtering and made clear that the tags there are used to aid filtering, that issue can contain other examples of filtering now, which I'm sure we have too.

[2018-06-19 08:11] abbott567 commented on #4
Moved to experimental now we have examples for both global and secondary nav:
https://dwp-design-examples.herokuapp.com/example/navigation-global
https://dwp-design-examples.herokuapp.com/example/navigation-secondary

[2018-06-19 08:11] abbott567 commented on #9
Moved to experimental now we have code examples for tags:
https://dwp-design-examples.herokuapp.com/example/tags

[2018-06-21 08:18] chdesign commented on #10
![image 1](https://user-images.githubusercontent.com/22620603/41706477-e119d72c-7533-11e8-8692-6d82df83c72e.png)

An alternative to the above examples but using a modal instead, from Ed Horsford at GDS.

[2018-06-21 08:28] chdesign opened #18 "Authentication"
Placeholder for backlog. Request from Sheffield office to look at. #

[2018-06-21 08:30] chdesign opened #19 "Feedback"
Placeholder for backlog. Request from Sheffield office to look at.

[2018-06-21 09:16] chdesign commented on #14
Update from the meet-up in Newcastle 14 June 2018.

## Outcomes
- More work is needed to fully understand whether agents or citizens have different needs when it comes to document uploads. This could result in two different patterns. For example passports is very aimed at citizens and one thing per page, vs bulk uploading multiple files and filetypes.
- Agreed some kind of indication of an upload

[2018-06-21 09:29] chdesign commented on #3
Update from the meet-up in Newcastle 14 June 2018.

## Outcomes
- The timeline should not mix past and future events. If you need to show both past and future events, show them as separate timelines or use an alternative design.
- In cases where the timeline can hold dozens of entries, more work will need to be done to look at how to display some form of pagination or limit.
- The timeline has cur

[2018-06-21 09:37] chdesign opened #20 "Bank account details"
Update from the meet-up in Newcastle 14 June 2018.

## Details
We looked at how different services are collecting bank details. What worked. What didn’t work. And how do the designs differ.

We looked at examples from:
- Get your State Pension Manage Bereavement Support Payment
- Universal Credit
- Personal Independence Payments

## Examples

### Get your State Pension Manage Bereavement Support P

[2018-06-21 13:07] Ash-Wilson commented on #2
I have seen this being used too, I'm not sure if this is the right issue for secondary buttons/links, but it's something which has been discussed before in the wider government slack.

![screen shot 2018-06-21 at 11 28 16](https://user-images.githubusercontent.com/25581084/41720856-39162b1a-755c-11e8-909c-4fa2b3786890.png)

[2018-06-25 14:21] abbott567 commented on #7
Example of this is now live: https://dwp-design-examples.herokuapp.com/example/key-details-bar

[2018-07-04 08:56] alexnewmannn commented on #4
Just something minor for the navigation-global component. When hovering over a focused/clicked item the text turns black, which is a pretty low contrast. It might be worth changing to white to up the contrast.
![image](https://user-images.githubusercontent.com/5321135/42267232-5fdc2c2c-7f70-11e8-8724-f90c611d2c7c.png) chromes showing that it isnt hitting AA rating due to the low contrast as well.

[2018-07-04 09:52] abbott567 commented on #4
Good spot @alexnewmannn that's clearly a bug. Do you want to PR? If not I can go ahead and update it. Cheers. C

[2018-07-04 10:07] alexnewmannn commented on #4
@abbott567 https://github.com/dwp/design-examples/pull/23 👍

[2018-07-04 11:11] abbott567 commented on #4
Awesome. Merged. Cheers dude!

[2018-07-19 07:37] abbott567 commented on #20
Ok, so UC do it via an API to Bank Wizard. BW is able to tell the service if it expects a roll number and they then ask for it on the next page. What an elegant solution!
![image](https://user-images.githubusercontent.com/9450064/42928328-eb92af24-8b2e-11e8-92ce-9627f992ec99.png)

[2018-07-19 07:40] abbott567 commented on #8
There is guidance for this in the GOVUK Design System now. Do we still need to maintain our own patterns for this?

https://design-system.service.gov.uk/patterns/problem-with-the-service-pages/

[2018-07-23 10:58] ermlikeyeah commented on #8
I don't think so but worth flagging with the wider team.

If it does "float up" a tag to show it has "matured" to the gov system would as useful.

[2018-07-23 11:01] ermlikeyeah commented on #20
@abbott567 Bank Wizard is nice – but comes with a cost-per-project/programme attached apparently. Unless there is a DWP-wide access to it?

[2018-07-23 11:04] ermlikeyeah commented on #20
If an approach like BW is deemed our preferred approach: if cost is an issue on other service 🤔 maybe our guidance should carry that _preferred_ approach and then another suggested best practice for something if use Bank Wizard (or something similar) is not possible

[2018-07-23 17:33] htmlandbacon commented on #20
Another point: what happens if the calls fail? Do you hard stop the user?

It might be using as part of a verification of account details etc so probably needs a little more context around it

[2018-07-25 09:05] chdesign commented on #8
We can probably remove tabs as well now as they're also in the design system.

Thanks
Chris

On 23 July 2018 at 11:58, Simon Wilson <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't think so but worth flagging with the wider team.

If it does "float up" a tag to show it has "matured" to the gov system would as useful.

—
You are receiving this because you are subscribed t

[2018-07-25 09:15] chdesign commented on #3
We've done a few code prototype research sessions using the recommended version of this now.
![image](https://user-images.githubusercontent.com/22620603/43191161-843d9910-8ff2-11e8-9ac8-c8b586ce76d0.png)

Feedback has been largely positive. Users have identified the timeline and like having access to a clear history of the case. Several users have stated that they'd prefer it with the running orde

[2018-07-25 09:42] abbott567 commented on #3
Great feedback @chdesign. The idea was always for it to show the newest things at the top. That should have been more evident in the example. I'll get a PR put in to change the dates to reflect that.

[2018-07-26 11:30] srich-DWP commented on #5
Access To Work is currently looking at a Search feature which we are assuming meets needs of all users of the service; Advisers, Team Leaders and Managers.
Defining the search so that when an adviser needs to search for a citizen case the results returned don't show staff member details, likewise for when staff members are searched for the results don't show citizen details.

[2018-07-30 12:00] chdesign opened #25 "Add items to a list"
##What problem does this design solve?
The user must enter a list of related things, eg previous names

## Version one
![add-item-1](https://user-images.githubusercontent.com/22620603/43396020-18826ebc-93f8-11e8-8288-020a906fa64f.gif)
Version one keeps the user in the same screen and keeps adding more fields as required, and allows the user to remove items on the same screen as well.

## Version t

[2018-08-01 09:28] chdesign commented on #15
We researched this approach somewhat on Prepare for UC which is where the previous example is from.

Users often missed the bar itself, most assume the thing they were doing had been saved but were often left confused and were unsure of next steps.

The solution hadn't taken accessibility in to account, we research with various users with access needs using a variety of assistive tech. Screen read

[2018-08-01 10:33] chdesign commented on #20
@htmlandbacon Does UC have an answer to that already?

Our fallback for the call failing **and** Bank Wizard is not possible could be the same first screen then a follow up one asking if they have a roll/credit union number rather than knowing they do and jumping in to ask for it.

[2018-08-09 09:45] beckysarahlee commented on #25
**Get your State Pension examples**
Add another country - this example has worked well in user research and doesn't seem to be causing any problems in the live service. Users seem to be thinking chronologically when entering the countries or actively looking for another text field due to the GDS drop down countries pattern.
![add another country](https://user-images.githubusercontent.com/24894485/

[2018-08-09 14:33] ermlikeyeah opened #26 "Person needs to be contacted by an alternative format"
**_Screenshot_**

**_What problem does this design solve?_**

**_Which service are you researching this design on?_**

**_How have you approached the design?_**
- have you tried anything that exists already?

**_What have you learned from research?_**
- include any iterations that didn't work.

**_Have you tested this for accessibility?_**
-  if so, what were the findings?

**_Link to code_**
- if

[2018-08-14 14:26] chdesign commented on #25
![add-item-3](https://user-images.githubusercontent.com/22620603/44097693-46a64a86-9fd6-11e8-9dbf-79c86f9079c9.gif)

Another option discussed briefly at the last design example meetup, repeating over a question asking if there's another answer.

[2018-08-15 12:48] chdesign commented on #25
![image](https://user-images.githubusercontent.com/22620603/44148732-630b2fa0-a091-11e8-9de6-473366d0727a.png)
Notify has two options visible by default, I imagine this would help with the issue @beckysarahlee is seeing where it's being missed. Also, interesting to note they're using secondary buttons rather than links, something we discussed at the last meetup, it feels like it should be a button

[2018-08-16 08:51] jamesgreenux commented on #25
The Payments and Referral prototype I've been working on will be tested on Friday (17/08/2018) and this pattern of adding to list is included. I'll update with the outcome.
<img width="1003" alt="screen shot 2018-08-16 at 09 49 52" src="https://user-images.githubusercontent.com/22885269/44198698-fcb92500-a139-11e8-8035-7ac1cccabecf.png">
<img width="945" alt="screen shot 2018-08-16 at 09 51 29" sr

[2018-08-16 09:14] cdenno commented on #25
Future health assessment prototype, pattern used to capture multiple illnesses and disabilities....

<img width="797" alt="screen shot 2018-08-16 at 10 10 39" src="https://user-images.githubusercontent.com/4161456/44199819-ff694980-a13c-11e8-851b-9857bf5dd86a.png">

[2018-08-22 11:38] chdesign opened #29 "Alerts"
## Screenshot
![image](https://user-images.githubusercontent.com/22620603/44459757-ac8f0680-a602-11e8-8414-0351672be433.png)

## What problem does this design solve?
There’s an issue the user didn’t cause or important information that a user should know about.

## Which service are you researching this design on?
BSP Manager

[2018-08-22 11:47] chdesign commented on #29
## When not to use
At the design examples meet on 7 August 2018 we decided that alerts should not be used for standard prominent messaging, we decided that this was the same as the [standard inset component on the GOV.UK design system](https://design-system.service.gov.uk/components/inset-text/).
![image](https://user-images.githubusercontent.com/22620603/44461407-a3a13380-a608-11e8-8fd6-17225e04a

[2018-09-06 09:36] ermlikeyeah opened #31 "Alternative form of contact"
As a user of an internal system I need to clearly see/know the citizen I need to contact will need to be contacted by an _alternative way_, such as by using large print letters

[2018-09-07 08:34] HolmesyD commented on #14
<img width="729" alt="screen shot 2018-09-07 at 09 30 15" src="https://user-images.githubusercontent.com/43031742/45207763-cfffb580-b280-11e8-8970-4a4097dcd052.png">

An alternate approach to file upload that does not conflict with the screens primary call to action to progress the user to the next step. This hasn't been tested yet but will be scoped in to do so over the coming weeks.

[2018-09-07 10:15] chdesign commented on #9
Outcome from the design examples meet 6 September 2018:
- use a modifier on current [tag component](https://design-system.service.gov.uk/components/tag/) – these need a coded example
- recommendation for now is to only use for statuses not for categories, eg as in the Prepare for UC service
- don’t use colour for aesthetics – more work needed on colours that might be useful, green/red for accepted

[2018-09-13 15:45] Sarahhill1986 commented on #14
## What problem does this design solve?
Allows jobseekers to upload their CVs so they can send them to employers.

Which service are you researching this design on?
Find a job

## How have you approached the design?
This is an inherited design. A redesign is in the backlog. I have shared it as an example of something that isn't currently working well.

## What have you learned from research?
78% o

[2018-09-19 09:35] abbott567 opened #32 "Header for internal services"
## Screenshot

![image](https://user-images.githubusercontent.com/9450064/45744839-5f995280-bbf7-11e8-9ca4-90a8937b6000.png)

## What problem does this design solve?
For internal services, we can't use the GOVUK crown logo.

## Which service are you researching this design on?
- Bereavement
- Move to Universal Credit

## How have you approached the design?
We originally replaced GOV.UK with DWP in

[2018-10-08 09:36] gazjoy commented on #5
![localhost_3000_work-coach_nino-search](https://user-images.githubusercontent.com/628064/46601525-42182400-cae5-11e8-9268-cc267c60be06.png)
![localhost_3000_work-coach_claim-summary](https://user-images.githubusercontent.com/628064/46601532-46dcd800-cae5-11e8-86ca-c956147bdad8.png)

What problem does this design solve?
Allows DWP Work Coach to find a claim by NINO for JSA and return the claimants

[2018-10-08 10:30] gazjoy commented on #20
![apply-for-jobseekers-allowance herokuapp com_citizen_details_bank-account 1](https://user-images.githubusercontent.com/628064/46604086-efdb0100-caec-11e8-8757-adf686a5c3cd.png)

We have a problem on New Style JSA in that presently DWP are having to chase claimants for bank account details. It is currently towards the end of the journey and very few people provide them during the online applicati

[2018-10-08 10:37] abbott567 commented on #20
This is really interesting @gazjoy - We have a similar thing on Bereavement, though we are asking agents questions about the information the citizen has provided rather than them providing their own information. We ended up asking a Yes / No question up front where we just asked:

Has the claimant provided bank details?
Yes -> reveal the bank fields.
No -> continue with the rest of the stuff but m

[2018-10-12 11:39] Sarahhill1986 opened #33 "Claim start date"
Users can sometimes backdate their claim if their need arose before they applied or claim in advance if they know when they want to start getting support. Seen a few different ways of approaching it.

## Employment and Support Allowance

### Screenshot

<img width="828" alt="when do you want to claim from" src="https://user-images.githubusercontent.com/33622409/46867096-bd4a4480-ce1b-11e8-8d0e-666

[2018-10-24 13:32] gazjoy opened #34 "Display CIS Markers"
## Screenshot

![image](https://user-images.githubusercontent.com/628064/47433156-b87c7d80-d797-11e8-9b78-e0a9d9b55bfe.png)

![image](https://user-images.githubusercontent.com/628064/47433181-c3cfa900-d797-11e8-8315-ee6798b203e7.png)

## What problem does this design solve?
Groups and displays any markers against a claimant which are held in CIS.

## Which service are you researching this design o

[2018-12-18 10:26] htmlandbacon opened #35 "Check and Change"
This is already [here](https://github.com/alphagov/govuk-design-system-backlog/issues/36) but thought it would be good to open up a discussion here to see what we have.

I know @Ash-Wilson already shared one so I will use that as a base.

## Screenshot

![45158583-4bf3f200-b1dc-11e8-85dd-1512d8f43b34](https://user-images.githubusercontent.com/4334015/50146896-ba9d1d00-02ac-11e9-97c5-6c1736858a47.p

[2018-12-18 10:40] htmlandbacon commented on #35
This is also different to the [prototype kit version](https://govuk-prototype-kit.herokuapp.com/docs/templates/check-your-answers)

[2018-12-18 10:48] Ash-Wilson commented on #35
@htmlandbacon the prototype kit version didn't work for our users because we've not used the one thing per page as simply as that. We have stuck to it but sort of grouped items, for example 'Tenant Details' as you can see above. I know @abbott567 also did some work with this but then changed it back to the original.

I think there is a definite user need for another option where the user can revie

[2018-12-18 11:18] abbott567 commented on #35
We had the same issue as Ash. The GDS pattern has a table row and a change link for each one. This works well for one thing per page. But we use 'one theme per page'. So Claimant Details will include everything about the claimant. Eg, Name, NINO, Date of birth etc. So there was essentially 3 or 4 change links all going to the same place. User research kept showing that this was pointless and confu

[2019-01-16 09:41] gazjoy commented on #7
We are using this component on Apply for Jobseekers Allowance. So far it has tested well, we have tested with DWP agents in Job Centres, Contact Centres and Service Centres. When testing on smaller screens the bar gets pretty tall and takes up a lot of the screen. This was using the component straight out of the design-examples repo.

![img_5060 1](https://user-images.githubusercontent.com/628064/

[2019-01-18 11:52] ermlikeyeah opened #36 "Notifying users there has been a change/update to the product/service"
## Screenshot

## What problem does this design solve?

## Which service are you researching this design on?

## How have you approached the design?
- have you tried anything that exists already?

## What have you learned from research?
- include any iterations that didn't work.

## Have you tested this for accessibility?
-  if so, what were the findings?

## Link to code
- if you need help publis

[2019-01-18 11:54] ermlikeyeah commented on #36
Starter for ten.

![2019-01-18-11-53](https://user-images.githubusercontent.com/13417175/51385664-d39d2600-1b17-11e9-9eff-81f248e5eaa2.jpg)

[2019-01-18 15:50] stwalsh commented on #20
Following design examples meet-up, some details about the UC bank account details flow.

Call to Bank Wizard gets us the basics: valid account, valid sort code, matching account number and sort. If it needs a roll number, we show the second page asking for it. Bank wizard does get you a lot and its availability probably defines what you can/should do on these pages.

On failure, you'll get a valid

[2019-01-24 12:23] AndyLongDWP opened #37 "Hint text for text input"
## Screenshot

## What problem does this design solve?

## Which service are you researching this design on?

## How have you approached the design?
- have you tried anything that exists already?

## What have you learned from research?
- include any iterations that didn't work.

## Have you tested this for accessibility?
-  if so, what were the findings?

## Link to code
- if you need help publis

[2019-01-29 12:49] abbott567 commented on #11
We've had this as tried and tested now for a while. But, with the introduction of GDPR, is this pattern still right? Is a green button with 'I agree' written on it explicit enough or do we need to move to a checkbox or radios to confirm?

[2019-01-30 09:54] simonbusch commented on #37
Design system doesn't say whether hint text needs a full stop. See examples on this page with and without one: https://design-system.service.gov.uk/components/error-message/

We need to make a local ruling on how to punctuate. Options include:

- use full stops in all cases because easier for people using screen readers
- use only for full sentences but not for standalone phrases, eg, 'For example

[2019-02-04 10:37] srich-DWP opened #38 "Add another thing"
<img width="808" alt="screenshot 2019-02-04 at 10 19 53" src="https://user-images.githubusercontent.com/13314733/52202541-aca85900-2866-11e9-8a9d-d15cd5bc43e1.png">

<img width="806" alt="screenshot 2019-02-04 at 10 20 21" src="https://user-images.githubusercontent.com/13314733/52202565-b7fb8480-2866-11e9-88cd-1103f71ca936.png">

<img width="807" alt="screenshot 2019-02-04 at 10 21 00" src="https:

[2019-03-01 11:05] htmlandbacon commented on #8
Agreed to close this, as it is now part of the gov.uk design system: https://design-system.service.gov.uk/patterns/problem-with-the-service-pages/

If there is alternative needs, we should move the conversation to https://github.com/alphagov/govuk-design-system-backlog/issues/124

[2019-03-01 11:05] #8 closed

[2019-03-01 14:43] tomwrightgov opened #39 "Pagination Control"
## Screenshot

<img width="1031" alt="screen shot 2019-03-01 at 14 31 21" src="https://user-images.githubusercontent.com/48100339/53645126-1e8a7d00-3c30-11e9-81eb-8de162a26b4a.png">
*Item count (shown above the table)*

<img width="1318" alt="screen shot 2019-03-01 at 14 31 47" src="https://user-images.githubusercontent.com/48100339/53645139-25b18b00-3c30-11e9-8621-9b28561787b7.png">
*Part 2 - Pag

[2019-03-04 12:40] srich-DWP commented on #38
04/03/19 - currently working through how this pattern works with the Check Your Answers (CYA) screen/pattern.
Attached a file showing different scenarios for adding or removing things.
![check-your-answers-flow](https://user-images.githubusercontent.com/13314733/53733960-6f8db180-3e7a-11e9-97fd-9f1e09e30bfd.png)

Unique screens need to be added to the question flow, which will only be rendered whe

[2019-03-04 12:41] srich-DWP commented on #38
Didn't mean to close this issue, re-opened it

[2019-03-04 12:49] abbott567 commented on #38
Awesome work @srich-DWP

[2019-03-04 13:18] philswan commented on #2
A couple of other examples from Prepare for Universal Credit

![screenshot 2019-03-04 at 13 17 22](https://user-images.githubusercontent.com/1472957/53735826-eaa59680-3e7f-11e9-8030-50dfa0cc765d.png)

![screenshot 2019-03-04 at 13 17 31](https://user-images.githubusercontent.com/1472957/53735830-ebd6c380-3e7f-11e9-8e0b-d61a650ec4d6.png)

[2019-03-04 13:24] srich-DWP commented on #14
Hoping to incorporate this pattern to the Apply online ESA agent UI.
Will be working with @philswan on this to enable DWP staff to upload multiple files from DWP devices, supporting a citizens new style ESA application.

[2019-03-04 14:07] srich-DWP commented on #7
Example from Apply  online, new style ESA.
The details presented to the user have yet to be defined. Started the MVP with basic name & National Insurance Number to identify the citizen.

<img width="996" alt="screenshot 2019-03-04 at 13 29 11" src="https://user-images.githubusercontent.com/13314733/53738103-36f3d500-3e86-11e9-9ba7-f068c246f21a.png">

There has also been a Terminal Illness/Special

[2019-03-08 11:45] seshagiri13 commented on #39
Hi
can you please provide the code for pagination i need to use it in my grid for dwp application rewite

[2019-03-12 11:00] dommn commented on #2
Example from CFEMS, which is using Pega.

<img width="370" alt="Screen Shot 2019-03-12 at 10 57 42" src="https://user-images.githubusercontent.com/47447454/54195126-c7996900-44b5-11e9-9c85-bf902d5ddb88.png">

[2019-03-18 10:28] abbott567 commented on #2
GOVUK Design System is reviewing grey and red buttons this week. Chances are they will end up in the design system and this will trump this ticket. Link is here: https://alt_buttons_demo--govuk-design-system-preview.netlify.com/components/button/
If anyone has any comments on the design or how to use content on the above link, let me know by Thursday 21 March and i'll write it into DWP's working g

[2019-03-22 09:16] srich-DWP commented on #2
Here a couple of examples of buttons from Apply for ESA agent UI
<img width="445" alt="Screenshot 2019-03-21 at 15 51 16" src="https://user-images.githubusercontent.com/13314733/54812350-cff65e80-4c82-11e9-95ab-521cf64f72eb.png">

Putting the order of buttons in some context, the primary button is to change the status of a claim, while the secondary button is a temporary interaction for the agent

[2019-03-22 09:21] srich-DWP commented on #2
<img width="584" alt="Screenshot 2019-03-21 at 15 51 35" src="https://user-images.githubusercontent.com/13314733/54812626-6fb3ec80-4c83-11e9-8624-f7ffc62a9124.png">

This second example is for a primary action of confirming a change in status of the claim, with the addition of a 'cancel' link

This screen grab is taken from a Sketch file so the positions and spacings will not be as per the GDS Des

[2019-04-10 14:26] htmlandbacon opened #40 "Offline Page"
## Screenshot

<img width="898" alt="Screen Shot 2019-04-10 at 15 23 20" src="https://user-images.githubusercontent.com/4334015/55887002-a86d2480-5ba4-11e9-8fad-76c8a8a5e23b.png">

Example based on GOV.UK error template https://design-system.service.gov.uk/patterns/page-not-found-pages/

## What problem does this design solve?

![download](https://user-images.githubusercontent.com/4334015/55887146

[2019-05-16 11:15] gazjoy commented on #5
There is no other mention on here apart from the JSA example but it would be good to see examples of **not** being able to find something. Should this pattern return the _same_ page with an error message? Should it return a _new_ page with a "try again" what patterns have been tried and tested? What's working well?

[2019-05-20 13:58] a184studio commented on #38
This is what we have so far. There is about 13 account types.

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/44495654/58027085-c157e680-7b0f-11e9-98f5-7c5f9f9327b9.gif)

[2019-05-20 14:02] a184studio commented on #38
This is what we have so far. There is currently 13 different account types and you can add more than one per type.

![MSIC](https://user-images.githubusercontent.com/44495654/58027267-2ad7f500-7b10-11e9-97db-4d9e45649784.gif)

[2019-06-19 16:27] htmlandbacon opened #41 "Find my address by post code (maybe by house number)"
I was interested to see what people have done about this

The current design system one provides a drop down > https://design-system.service.gov.uk/patterns/addresses/

One of the issues I've found is that a post code will return a large number of addresses

## Screenshot
<img width="845" alt="Screen Shot 2019-06-19 at 17 25 51" src="https://user-images.githubusercontent.com/4334015/59783111-525ce

[2019-06-19 16:29] htmlandbacon commented on #41
Assumption is we would be better placed to do something like this:

Step 1.

<img width="417" alt="Screen Shot 2019-06-19 at 17 27 21" src="https://user-images.githubusercontent.com/4334015/59783207-8afcbb00-92b7-11e9-8915-9ff375b3c455.png">

Step 2.

<img width="307" alt="Screen Shot 2019-06-19 at 17 28 28" src="https://user-images.githubusercontent.com/4334015/59783269-b1baf180-92b7-11e9-8d7b-79

[2019-06-24 15:58] htmlandbacon commented on #41
<img width="785" alt="Screen Shot 2019-06-24 at 16 56 34" src="https://user-images.githubusercontent.com/4334015/60033808-308da100-96a1-11e9-9595-f7275ccfd235.png">

So above is kinda suggested flows.

I've not marked any back links as that is gonna get messy.

[2019-06-25 09:38] cathydutton commented on #41
The Fish service in Defra uses a very similar pattern to this

[2019-06-25 10:12] htmlandbacon commented on #41
Linky link? Be great to see what I have missed/the differences!

[2019-06-25 13:03] 9124ss commented on #41
Step 1. Should have an option to go to straight to manual entry: in case lookup service unavailable/postcode not known
Step 2. If address is similar to the one needed, there should be a way to amend it as necessary rather than having to completely manually enter it

[2019-06-25 13:37] cathydutton commented on #41
@htmlandbacon sorry...

[2019-06-25 13:44] cathydutton commented on #41
@htmlandbacon sorry...

![screenshot-iwtf-proto herokuapp com-2019 06 25-14-19-12](https://user-images.githubusercontent.com/5614324/60103524-abb18e80-9757-11e9-979c-135b59768fa8.png)
![screenshot-iwtf-proto herokuapp com-2019 06 25-14-19-58](https://user-images.githubusercontent.com/5614324/60103526-ac4a2500-9757-11e9-8b1a-d511fa4393f3.png)
![screenshot-iwtf-proto herokuapp com-2019 06 25-14-20-4

[2019-06-25 14:36] htmlandbacon commented on #41
Interesting! Have you got an example of this in a service?

[2019-07-15 09:30] htmlandbacon opened #42 "Service is about to timeout"
<img width="543" alt="Service timeout pop-up" src="https://user-images.githubusercontent.com/4334015/61206503-a1493b80-a6ea-11e9-83c5-304d9365eadb.png">

This was taken from the Fitnote live service.

- [Following threat in the gov-uk-design system backlog](https://github.com/alphagov/govuk-design-system-backlog/issues/104)

- [WCAG21 - timeouts](https://www.w3.org/TR/WCAG21/#timeouts)

[2019-07-25 15:06] jon-houghton opened #43 "Contact preferences"
![Screen Shot 2019-07-25 at 16 04 02](https://user-images.githubusercontent.com/44668996/61885590-f7da2500-aef5-11e9-91af-97c9586b2166.png)

[Contact preferences.pdf](https://github.com/dwp/design-examples/files/3432125/Contact.preferences.pdf)

**Apply for a National Insurance number**
Looking at how to capture contact preferences, alternative phone numbers for SMS and calls and correspondence ad

[2019-07-30 13:44] steven-borthwick commented on #43
![FireShot Capture 1105 - www gov uk_register-to-vote - If we h_ - https___www registertovote servic](https://user-images.githubusercontent.com/12656517/62134470-73fab100-b2d8-11e9-9ed4-7126d838cd02.png)

[2019-07-30 13:44] steven-borthwick commented on #43
![get_contact](https://user-images.githubusercontent.com/12656517/62134530-8aa10800-b2d8-11e9-8e2f-56c753d67b46.png)

[2019-07-30 14:49] tspear commented on #43
![Artboard](https://user-images.githubusercontent.com/2039716/62139555-7b728800-b2e1-11e9-8abf-bf2ecab13491.png)
UC contact preferences (WIP version)

[2019-08-07 14:00] Dean-A-Smith commented on #3
This pattern has been used by Adzuna, the developers of the 'Find a job' service, in the agent side of the service to give a timeline record of changes to company's status.

This includes system-generated notes, such as a company first being created in the system, plus notes added by an agent, such as a note on the progress of a company being verified. The system indicates who took the action behi

[2019-08-08 14:49] devansXD commented on #14
Is there a version of this pattern which includes being able to add context via a brief comment / text string to the attached file?

[2019-08-19 10:06] #42 closed

[2019-08-19 10:06] #40 closed

[2019-08-27 13:22] chrisadesign commented on #7
Hey DWP team 👋

Thinking of trying this out in a service over at MOJ. Wondered if anyone has tried and has insight into having a photo in this?

[2019-10-09 15:08] vickytnz commented on #20
This is now in progress in the GOV.UK design system https://github.com/alphagov/govuk-design-system-backlog/issues/149

[2019-11-11 15:24] leahsmith1104 commented on #41
We're just in the process of implementing the following:
<img width="631" alt="Screen Shot 2019-11-11 at 12 05 26" src="https://user-images.githubusercontent.com/22599909/68586187-ff5d1400-047b-11ea-96b9-a69a01f44ca3.png">
@htmlandbacon It's pretty much the same as yours, we went for 'my address is not listed' as a radio rather than allowing them to enter their address manually on the same page (l

[2019-12-19 12:42] simoneduca commented on #41
I've developed @leahsmith1104 flow above and just wanted to add something I've found in the process. The prototype screenshots above shows address lookup results formatted in some sort of title-case way. Now, the postcode lookup service we are using returns address in all caps

which may be quite difficult to read. [Guidance on capitalisation](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-

[2020-01-08 14:55] #35 closed

[2020-01-20 16:23] steven-borthwick opened #44 "Cookies policy and consent"
## Screenshot

## What problem does this design solve?

Allow users to be able to accept, amend or reject cookies on DWP service.

## Which service are you researching this design on?

Apply for Child Maintenance

## How have you approached the design?

Based on GOV.UK guidelines and cookie policy.

## What have you learned from research?

## Have you tested this for accessibility?
-  if so, what

[2020-01-21 09:09] steven-borthwick commented on #44
GOV.UK examples
<img width="1224" alt="Screenshot 2020-01-21 at 09 00 05" src="https://user-images.githubusercontent.com/12656517/72790553-ba98ea80-3c2d-11ea-8e94-52f43f13b4af.png">
![cookies_gov uk](https://user-images.githubusercontent.com/12656517/72790567-c1bff880-3c2d-11ea-8b6b-715f6605f61e.png)

[2020-02-11 14:20] Dean-A-Smith opened #45 "Presenting the amount and terms of financial support"
## Screenshot

Panel example from 'Check what you owe':
<img width="996" alt="Screenshot 2020-02-10 at 13 52 59" src="https://user-images.githubusercontent.com/49518181/74242614-2b37a200-4cd6-11ea-81aa-6c84a0a0277e.png">

[Prototype link for Budgeting Loans offer page](https://budgeting-loan-application-new.herokuapp.com/BLAS/v7/full-loan-offer-radio-choice) (message me for login details)

## What

[2020-02-22 13:48] steven-borthwick commented on #41
<img width="1127" alt="Screen Shot 2020-02-22 at 13 43 35" src="https://user-images.githubusercontent.com/12656517/75093447-b7b94e80-5579-11ea-8093-c35e18d5a2b8.png">

There were some issues with the Property Number or name field in user research.

- 7/7 non-UK participants entered the street name in addition to the property number
- One UK participant in usability testing today entered their hous

[2020-02-22 13:57] steven-borthwick commented on #43
From Carers Allowance ![Image from iOS (1)](https://user-images.githubusercontent.com/12656517/75093604-2e0a8080-557b-11ea-9458-d093060f08d5.jpg)

[2020-02-22 15:14] steven-borthwick opened #46 "Agent instructions/actions"
These questions are not mandatory,
but they will help people understand the design,
so, give as much information as you can.
-->

## Screenshot

<img width="1106" alt="Screen Shot 2020-02-22 at 15 10 38" src="https://user-images.githubusercontent.com/12656517/75094699-afffa700-5585-11ea-86f2-c935c8f13a15.png">
<!--

## What problem does this design solve?

Allow agents to easily tell the differenc

[2020-02-22 19:20] Littl3strang3 commented on #46
Doing a UR scrape on agent/advisor action across R,B&C will share findings @steven-borthwick

[2020-02-24 11:10] htmlandbacon commented on #41
Oh, interesting, is there a td-lr to what this was against?

[2020-03-16 10:06] steven-borthwick commented on #44
NHS cookie banner
<img width="1167" alt="Screen Shot 2020-03-16 at 10 04 39" src="https://user-images.githubusercontent.com/12656517/76745416-bd1b4a80-676d-11ea-9f6b-edb28ec6e7a1.png">

[2020-03-17 07:45] steven-borthwick opened #49 "Find someone"
## Screenshot

## What problem does this design solve?

## Which service are you researching this design on?

## How have you approached the design?
- have you tried anything that exists already?

## What have you learned from research?
- include any iterations that didn't work.

## Have you tested this for accessibility?
-  if so, what were the findings?

## Link to code
- if you need help publis

[2020-03-23 13:46] a184studio commented on #49
@steven-borthwick Can you give me access to edit?

[2020-03-23 13:46] a184studio commented on #46
@steven-borthwick Also edit on this one

[2020-03-25 14:31] a184studio commented on #49
### What problem does this design solve?

Find an individual, with the highest possible success rate on first try.It does not show anyone else's data if there is a miss-match in data entered.

[2020-03-25 14:37] a184studio commented on #49
## Problems: How to find someone securely
We need to establish that the right persons information is pulled into the services so that we can use the right information for the right person.

We need to limit the probability of incorrectly imputing search teams so that incorrect data is pulled back

We need to only type in data that can be used to make a character vs character match, EG, call using

[2020-03-25 14:38] a184studio commented on #49
## Process: How to find someone
We use the NI and the DOB to make a call with the DataAdaptor.

_The Pension Credit service queries CIS via the data adapter through the use of API181. The Name and NINO entered by the adviser are used as inputs. If a match is found, the associated Name, NINO and Date of Birth is returned and displayed to the adviser for confirmation._

If no match is found, no data

[2020-03-25 14:40] a184studio commented on #49
## Process: What happens when there is a match
**A prompt on screen is shown**: Person found

**Name**: Name via API
**National insurance number:** Entered via previous field (National insurance number will be displaced in the correct format EG, NN 11 22 33 c)
**DOB**: Entered via previous field (DOB will be displayed as Day, Month Year / DD Month YYYY)

### Yes/no question for agent only:

**Is t

[2020-03-25 14:41] a184studio commented on #49
### Process: What happens when there is no match
If two data points don't match we don't show any data for an incorrect match. Only show they don't match with a prompt to the agent to check what they have entered and _**Try again.**_

[2020-03-25 14:41] a184studio commented on #49
## Process: What happens when the API is down (Error500)
Error message and prompted to **_Try again._**

If failure in API we can revert to an NON-API Pension Credit claim, remaining on the call and processed business as usual.

[2020-03-25 14:42] a184studio commented on #49
## What we expect to happen
**What we want to happen**
An adviser is to use information they have already have via G4s, SearchLight and CAM to populate NI and DOB fields
An adviser is to check that the name returned matches the caller, and the information that is seen in SearchLight and CAM

**What we don't want to happen**
An adviser to ask a Citizen for their details again.
An adviser to ask to

[2020-03-25 14:43] a184studio commented on #49
## Relevant security standards
**What we meet**
We don't show information incorrectly. You need to get a match or you cant return anything
Services shall use minimum data and disclose only elements of those data necessary to complete the task always subject additional

**What we don't**
No browsing capabilities accessible by normal agents = It's possible to do this, but nothing they couldn't see i

[2020-03-25 14:43] a184studio commented on #49
## Notes / Q&A
**Q:** Why are we using National insurance numbers to find people
**A:** At present there isn't any other robust method in practice within DWP. Universal credit (UC) have a reference number I believe.

**Q:** How are we auditing calls made?
**A:** TBC

**Q:** How are special records dealt with
**A:** Hidden in plain sight (data pulled back is only relevant to our claim)

[2020-03-25 14:44] a184studio commented on #49
## How we plan to monitor the success rate
All pages will be marked accordingly to view success rates
[Service URL tracking (Google Analytics) ](https://confluence.service.dwpcloud.uk/pages/viewpage.action?pageId=162176241)

[2020-03-25 14:44] a184studio commented on #49
## Outstanding tasks
— Accessibility with humans. (QA accessibility kit testing done as part of build)
— UR in build with Pension Credit private beta.
—

[2020-03-25 14:45] a184studio commented on #49
## People involved
Gavin Clark: (Pension Credit + DataAdaptor) Business Analysis
Jeffrey Douglass: (DataAdaptor) Engineer
Mark McCormick: (Pension Credit) Interaction designer
Niall Malloy: (Pension Credit) Front-end developer
Pete Baits: (Pension Credit) Content designer
Emma Nicol: (Pension Credit) User researcher
Sam Monk: Data team + Google Analytics

[2020-03-25 14:47] a184studio commented on #49
## How it fits into the journey
### Release one
**Unique to Pension Credit (PC)**
We use ADVISER ACTION (For the agent only: a task or status) to differentiate what is a question for the adviser and what is a question for the citizen.
In this use case, PC is using SearchLight and CAM prior to this page thus making it an ADVISER ACTION.
We do not wan't an adviser to ask the citizen again for detail

[2020-03-25 14:49] a184studio commented on #49
## Release three onwards*
There will be some point in the future that Eligibility is handled within Pension Credit service, at this point the process will change again.

At present the likelihood is that the NI and DOB will remain first Fields that require data to move forward in the journey and to make the CALL to CIS (or what ever new database exists)

This means the NI and DOB will be a citizen

[2020-03-25 14:55] a184studio commented on #49
# Prototype, visuals and links

### What we tested: [V14 Find a person](https://pc-prototype.herokuapp.com/version-14/APIs/national-insurance-call-B)
<img width="1792" alt="Screen Shot 2020-03-24 at 15 01 40" src="https://user-images.githubusercontent.com/44495654/77549965-69fd7200-6ea8-11ea-88a4-1e28ae60a831.png">

___

### What we changed: [V15 Find a person](https://pc-prototype.herokuapp.com/v

[2020-03-25 14:58] a184studio commented on #49
### What we tested: [V14 Person found](https://pc-prototype.herokuapp.com/version-14/APIs/national-insurance-call-B)
<img width="1792" alt="Screen Shot 2020-03-24 at 15 05 08" src="https://user-images.githubusercontent.com/44495654/77550372-f4de6c80-6ea8-11ea-93ea-692b0dfeec7c.png">

___

### What we tested: [V15 Person found](https://pc-prototype.herokuapp.com/version-15/APIs/national-insurance-c

[2020-03-25 14:59] a184studio commented on #49
### What we tested: [V14 Person found](https://pc-prototype.herokuapp.com/version-14/APIs/national-insurance-call-B)

___

### What we tested: [V15 Person found](https://pc-prototype.herokuapp.com/version-15/APIs/national-insurance-call-B)

**No changes made**

[2020-03-25 15:00] a184studio commented on #49
### What we tested: [V14 Error 500](XXX)

___

### What we tested: [V15 Error 500](XXX)

**No changes made**
+ XXX

[2020-04-15 16:03] htmlandbacon opened #52 "Staying Safe online"
We were talking about what elements we could use to help support people who might be in a vulnerable position, this is to document some of the ones we have found.

[2020-04-16 13:30] JennyG303 commented on #52
### User needs
As a person who is monitored and at risk in their environment,
I need to know I can access guidance and services safely
so that I am able to plan and prepare for my future

### What problem does this design solve?
People who are experiencing domestic abuse may still be living with an abuser who is limiting and monitoring their movements.

People leaving an abusive environment either

[2020-04-27 14:05] JennyG303 commented on #52
This is now a GDS design system backlog item
https://github.com/alphagov/govuk-design-system-backlog/issues/213

[2020-06-15 16:06] edwardhorsford commented on #41
This came up in conversation on slack today.

Sharing this old video of a prototype by @joelanman
![IER-Address-Drop-Down](https://user-images.githubusercontent.com/2204224/84680392-88648e00-af2a-11ea-8090-4282b6535775.gif)

The styles are now a bit out of date, but it was trying to fix some of the issues of native selects whilst maintaining some of the advantages. These days I think it could poss

[2020-06-15 16:11] joelanman commented on #41
Thanks @edwardhorsford some of the issues with dropdowns I was trying to fix:

 - standard, predictable design. Native dropdowns have different experiences, with iOS being particularly hard to use in research, being a 3D roller
 - it doesn't obscure other page elements by overlaying like native dropdowns - it pushes them down
 - it doesn't collapse when clicking off the dropdown - something people

[2020-10-19 13:35] HelenOsg commented on #46
Moving to DWP community backlog. @steven-borthwick @Littl3strang3 @a184studio has there been any update on this?

[2020-10-19 14:27] a184studio commented on #46
@HelenOsg Our project switched from Agent to Citizen and so we had to put this one hold.

I did however come across this last week. Which would have been the next level to what we had here...maybe.

https://design.homeoffice.gov.uk/components/alerts

[2020-10-20 06:52] HelenOsg commented on #46
@a184studio Thanks for the update. Is the version above currently being used in a service?

[2020-10-27 12:18] HelenOsg commented on #39
hi @tomwrightgov We're updating the design system backlog. Has there been any update or changes to this pattern since July 2019 that need logging?

[2020-10-27 15:27] HelenOsg commented on #32
@abbott567 Is this ticket still relevant? Has there been further guidance on this since the ticket was created?

[2020-10-29 15:46] abbott567 commented on #32
@HelenOsg Yeah, it's still relevant. The crown should only be present when accompanied with the GOV.UK text, which is usually reserved for services hosted on service.gov.uk domains.

[2020-11-20 20:09] abbott567 commented on #29
GOV.UK Design System now has an alerts component in preview: https://deploy-preview-1313--govuk-design-system-preview.netlify.app/components/notification-banner/